.fullComment {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #e0e7ff;
  height: 100%;
  color: #4338ca;
  border-radius: 5px;
}
.fullComment p span {
  font-weight: bold;
}
p {
  margin-top: 20px;
}
h2 {
  margin-top: 10px;
}
.fullComment button {
  margin-bottom: 20px;
  border: 1px solid rgb(242, 72, 72);
  background: #fff;
  color: rgb(242, 72, 72);
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 20px;
}