* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.activeLink {
  color: #6d28d9;
}

NavLink {
  color: #292524;
}

a:-webkit-any-link {
  text-decoration: none;
}

ul {
  display: flex;
  justify-content: start;
  align-items: center;
}
li {
  margin-left: 15px;
  font-size: 18px;
  list-style-type: none;
}

header {
  background-color: #f1f5f9;
  width: 100%;
  padding: 20px 10px;
  box-shadow: 2px 2px 2px 1px rgba(62, 62, 62, 0.2);
}

footer {
  position: fixed;
  bottom: 0;
  background-color: #292524;
  color: #fff;
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
.container-tab {
  width: 100%;
  background-color: purple;
  padding: 20px;
  margin-top: 10px;
}
.link {
  color: #ffffff;
  margin-left: 10px;
}
.title {
  padding: 10px;
}